*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin: 0 auto;
}
button,
button:active,
button:focus {
    outline: none;
}
input,
input:active,
input:focus {
    outline: none;
}
.align-items-center {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
}
.header-menu {
    display: flex;
}
.header-menu__list {
    list-style: none;
    margin: 0 2.3%;
}
.header {
    border-top: 3px solid #FFC57F;
    border-bottom: 3px solid #FFC57F;
}
.header-logo {
    margin-top: 6px;
}
.header-nav__a {
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}
.header-nav__a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s;
}
.menu-button {
    display: none;
}
.frame {
    position: relative;
}
.header-nav__a:hover:after {
    transform: scaleX(1.1);
}
.main-bg {
    padding-top: 16px;
    margin-top: 26px;
    background: url('https://i.postimg.cc/BZ7JydcN/background.png') no-repeat;
    height: 1335px;
    width: 100%;
    background-size: 100%;
    position: relative;
}
.flex-wrapper {
    margin: auto;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
    border: 2px solid #FFA740;
    max-width: 830px;
    max-height: 599px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
#btn-prev, #btn-next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}
#btn-next {
    background-image: url('https://i.postimg.cc/rmpvNwbT/Rarrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    right: -12%;
}
#btn-prev {
    background-image: url('https://i.postimg.cc/x1vD07Hw/Larrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: -12%;
}
.shadow-left {
    position: absolute;
    left: 110px;
    bottom: -30px;
    z-index: 1;
}
.shadow-right {
    position: absolute;
    right: 110px;
    bottom: -30px;
    z-index: 1;
}
.slide {
    max-width: 780px;
    height: 550px;
    display: none;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 2s;
    animation-name: slide;
    animation-duration: 2s;
}
@-webkit-keyframes slide {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes slide {
    from{opacity: .4}
    to{opacity: 1}
}
.slide.active {
    width: 830px;
    height: 550px;
    display: block;
}
.one {
    background-image: url('https://i.postimg.cc/FR7hsph0/background-img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.two {
    background-image: url('https://i.postimg.cc/XNfzBFX5/background-img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.three {
    background-image: url('https://i.postimg.cc/Lsgy9grn/background-img-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.four {
    background-image: url('https://i.postimg.cc/3JrnycsM/img-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.dots-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: -15px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot.active {
    background-color: #709834;
}
.about-me {
    max-width: 900px;
    margin: auto;
    margin-top: 35px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #0D0D0C;
}
.bold {
    font-weight: bold;
}
.orange-line {
    border: 2px solid #FFC57F;
}
/* services */

.section-services {
    margin-top: 60px;
}
.service-card {
    margin: 15px 20px;
    background: linear-gradient(163.62deg, #FFFFFF 45.84%, #FFA740 88.64%), #FFFFFF;
    border: 2px solid #FFA740;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    max-width: 440px;
}
.img-service {
    height: auto;
    max-width: 388px;
    width: 95%;
    margin-top: 14px;
    border-radius: 5px;
}
.service-title {
    display: inline-block;
    margin-top: 16px;
    max-width: 388px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #222222;
}
.info-text_block {
    width: 295px;
    margin-left: 13%;
    text-align: left;
    border-bottom: 1px solid #999999;
    padding-bottom: 7px;
}
.info-text {
    margin-left: 15%;
    margin-top: 20px;
    display: inline-block;
    max-width: 220px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: #696767;
}
.price {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
}
.details {
    height: 35px;
    width: 170px;
    max-width: 170px;
    margin-top: 40px;
    margin-bottom: 26px;
    background: #2DA833;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}
.details:hover {
    border: 1px solid #2DA833;
    background: #fff;
    color: #2DA833;
}
[id^=radio-] {
    display: none;
}

.aboute-services__title {
    margin-top: 30px;
    margin-bottom: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.12em;
    color: #000;
}
.service-link {
    text-decoration: none;
    color: #000000;
}
.service {
    background: #EFECEC;
    border: 1px solid #FF8A00;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
.service:hover {
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.77);
    color: #709834;
}
.service-icon_one {
    margin-top: 22px;
    margin-bottom: 23px;
}
.service-icon_two {
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.service-icon_three {
    margin-top: 17px;
    margin-bottom: 41px;
}
.name-service {
    height: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #FF8A00;
}
.service:hover .name-service {
    color: #709834;
}
.about-servise {
    margin-top: 20px;
    padding: 0 10px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000000;
}
.footer {
    margin-top: 50px;
    height: 129px;
    background-image: url('https://i.postimg.cc/BnHLJqmJ/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top: 3px solid rgba(255, 138, 0, 0.67);
    border-bottom: 3px solid rgba(255, 138, 0, 0.67);
}
.info {
    margin-top: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #222222;
}
.social-icon__container {
    text-align: center;
    margin-top: 17px;
}
.social-link {
    vertical-align: middle;
    margin-left: 30px;
    text-decoration: none;
}
.info-legal {
    margin-top: 29px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #000000;
}
.policy {
    margin-top: 27px;
}
.privacy-policy {
    margin-top: 36px;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}
.content {
    display: inline-block;
    text-align: center;
    max-width: 330px;
    min-height: 392px;
    height: auto;
    border: 1px solid #FF8A00;
    margin: 105px 120px 110px 120px;
    text-decoration: none;
    transition: .3s;
}
.content:hover {
    border: 1px solid #FF8A00;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #FF8A00;
}
.img-content {
    width: 100%;
    padding: 10px 8px 25px 7px;
}
.title-content {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.12em;
    color: #222222;
}
.about-this-content {
    margin-top: 15px;
    padding: 0 17px 0 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    text-align: left;
    color: #696767;
}
.namber-of-views {
    margin-top: 17px;
    align-items: center;
    display: flex;
    padding-left: 15px;
    padding-bottom: 19px;
}
.view {
    margin-left: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #929292;
}

/* articles */

.col-article {
    max-width: 230px;
    max-height: 340px;
    margin: 0 auto;
}
.hide {
    display: none;
}
.main-title__sections {
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000000;
}
.articles-navig {
    background: #5FC764;
}
.articles-nav {
    margin-top: 45px;
    height: 60px;
}
.titles-menu {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.title {
    list-style: none;
    margin:0 34px;
}
.title:last-child {
    margin-right: 0;
}
.title-nav__link {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px 7px;
    border-bottom: 1px solid #fff;
}
.title-nav__link:hover {
    box-sizing: border-box;
    background: #4CC052;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.articles {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 75px;
}
.container-for-id {
    display: flex;
    max-width: 219px;
    margin-bottom: 40px;
}
.artical-link {
    height: 321px;
    min-width: 221px;
    border: 1px solid #E0E0E0;
    text-decoration: none;
}
.artical-link:hover {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.artical-link:hover .name-article {
    color: #5FC764;
}
.artical {
    text-align: center;
    max-width: 219px;
}
.artical-img {
    margin-top: 15px;
    max-width: 191px;
    max-height: 128px;
}
.article-category {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #27739F;
}
.name-article {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #222222;
}
.article-desc {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    color: #696767;
}
.namber-of-views {
    margin-top: 17px;
    align-items: center;
    display: flex;
}
.view {
    margin-left: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #929292;
}
.recom-title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #222222;
}

/* Photo and Video content */

.name-page {
    height: 85px;
    background-image: url('https://i.postimg.cc/QM3nNJrV/mediabg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #FFC57F;
}
.name-page__title {
    margin-top: 31px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.12em;
    color: #222222;
}
.photo-pleer {
    margin-top: 16px;
}
.lightgallery {
    text-align: left;
    margin-left: 10%;
}
.photo-link {
    text-decoration: none;
}
.photo-img {
    height: 127px;
    width: 185px;
    object-fit: cover;
    transition: .3s;
}
.photo-img:hover {
    opacity: 0.8;
}

/* video */

.video-page {
    margin-top: 61px;
}
.video-content {
    align-items: center;
    display: inline-block;
    margin: 9px 10px;
    text-decoration: none;
    max-width: 230px;
    max-height: 169px;
    overflow: hidden;
    transition: .3s;
}
.hover-play {
    max-width: 230px;
    max-height: 129px;
    border-radius: 3px;
    position: relative;
}
.img-video {
    width: 230px;
    height: 129px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}
.play-botton {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    position: absolute;
    top: 39px;
    left: 40%;
    z-index: 3;
    display: none;
}
.video-content:hover .play-botton {
    display: block;
    
}
.video-content:hover .video-title {
    color: #5FC764;
}
.video-title {
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #222222;
}
.video-description {
    margin-top: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #929292;
}
.video {
    text-align: center;
}

/* popup */

.popup_v {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
}
.video_popup_close {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    top: -2.2rem;
    right: -5rem;

}
.video_popup__content {
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background-color: #ffffff;
}
.iframe {
    margin: 60px auto;
    display: block;
    width: 600px;
    height: 300px;
}

/* popup calck */

.popup_calculator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.popup_container_calck {
    margin: 0 auto;
    text-align: center;
    max-width: 670px;
    max-width: 90%;
    border: 1px solid #FFA841;
    box-sizing: border-box;
    border-radius: 5px;
    position: fixed;
    top: 5%;
    left: 50%;
    width: 40rem;
    height: 650px;
    overflow: scroll;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
}
.header-calck {
    height: 50px;
    position: relative;
    background: #2DA833;
    border-radius: 5px 5px 0px 0px;
}
.calck__close {
    position: absolute;
    right: 17px;
    top: 13px;
}
.img-calck__close {
    width: 18px;
    height: 18px;
}
.title__header-calck {
    padding-top: 12px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
.choice-dog-weight {
    max-width: 580px;
    margin: 40px auto;
    border: 1px solid #FFBE70;
    box-sizing: border-box;
    border-radius: 5px;
}
.title__choice-weight {
    margin-top: 13px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #222222;
}
.block-weight {
    margin-top: 10px;
    margin-bottom: 20px;
}
.choice-weight {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.choice {
    padding: 3px;
    min-width: 76px;
    height: 30px;
    border: 1px solid #2DA833;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #000000;
    transition: .3s;
    cursor: pointer;
}
.after_click {
    background: #FC9D2F;
    border: 1px solid #FC9D2F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #FFFFFF;
}
.choice:hover {
    background: #FC9D2F;
    border: 1px solid #FC9D2F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #FFFFFF;
}
.amount-days {
    margin-top: 19px;
}
.title__amount-days {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #222222;
}
.amount-days__text {
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #ADAEAE;
}
.amount_days_input {
    text-align: center;
    margin-top: 11px;
    height: 35px;
    width: 134px;
    border: 1px solid #FC9D2F;
    box-sizing: border-box;
}
.additional-services {
    margin-top: 15px;
}
.fixed {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.block-additional {
    max-width: 166px;
}
.additional-text {
    margin-top: 15px;
    height: 63px;
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #222222;
}
.additional-price {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #222222;
}
.numberx {
    margin-top: 15px;
    text-align: center;
    width: 45px;
    height: 30px;
    border: 1px solid #47B24D;
    box-sizing: border-box;
    border-radius: 3px;
    color: #47B24D;
}
.rezult {
    margin-top: 43px;
}
.rezult_btn {
    width: 360px;
    height: 60px;
    background: linear-gradient(93.47deg, #FFFFFF 2.05%, #FFA841 95.89%), #C4C4C4;
    border: 1px solid #FC9D2F;
    box-sizing: border-box;
    font-weight: normal;
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 90px;
}
.rezult_btn:hover {
    border: 1px solid #47B24D;
    background: #ffaa413a;
}

/* popup */

.rezult-info {
    margin: 40px auto;
    margin-bottom: 160px;
    width: 500px;
    height: 70px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.rez-info {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}
.summ {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #2DA833;
}
.replice {
    width: 178px;
    height: 34px;
    border: 1px solid #FC9D2F;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FC9D2F;
    cursor: pointer;
    transition: .3s;
}
.replice:hover {
    border: 1px solid #2DA833;
    color: #2DA833;
}

/* courses-library */

.courses-library__title {
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.12em;
    color: #000000;
}
.gray-line {
    margin-top: 15px;
    color: #E4E4E4;
}
.course {
    margin-top: 21px;
    margin-bottom: 15px;
    text-align: center;
}
.img-course {
    position: relative;
    border-radius: 5px;
    border: 1px solid #FFA740;
}
.tag {
    position: absolute;
    top: -5px;
    transform: translateX(-40px)
}
.course-title {
    margin-top: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #222222;
}
.course-text {
    margin-top: 18px;
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #000000;
}
.course-button {
    margin: 0;
    margin-top: 36px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #2DA833;
    border: 1px solid #2DA833;
    border-radius: 3px;
    transition: 0.3s;
}
.course-button:hover {
    color: #2DA833;
    background: #FFFFFF;
}
.course-price {
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #333333;
}
.sale-price {
    margin-right: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    text-decoration-line: line-through;
    color: #999999;
}

/* curse Basics of communicating */

.course-basics-of-communicating {
    margin-top: 49px;
}
.img-col {
    max-width: 400px;
}
.course-width {
    margin: 0 auto;
    
}
.img-course-basics {
    border-radius: 5px;
    max-width: 380px;
    max-height: 380px;
}
.course-basics__text {
    margin: 0;
    margin-left: 50px;
}
.course-basics__title {
    width: 680px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #222222;
}
.course-basics__desc {
    width: 609px;
    padding-left: 13px;
    margin-top: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #000000;
}
.add {
    margin-top: 10px;
}
.date-and-acquired {
    width: 600px;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #929292;
}
.acquired_button {
    display: inline-block;
    text-decoration: none;
    margin-top: 91px;
    margin-left: 13px;
    margin-bottom: 84px;
    padding: 20px 40px;
    color: #FFFFFF;
    background: #2DA833;
    border: 1px solid #2DA833;
    border-radius: 3px;
    transition: 0.3s;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.12em;
}
.acquired_button:hover {
    color: #2DA833;
    background: #FFFFFF;
}

/* contacts */

.contacts {
    margin-top: 85px;
}
.contacts-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.12em;
    color: #222222;
}
.phone {
    margin-top: 35px;
}
.line-phone, .line-mail {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #222222;
}
.mail {
    margin-top: 10px;
}
.phone-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #222222;
}
.phone-link:hover {
    color: #5FC764;
}
.mail-link {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-decoration-line: underline;
    color: #5FC764;
}
.mail-link:hover {
    color: #FF8A00;
}
.feedback-form {
    margin-top: 35px;
}
.feedback-form__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.12em;
    color: #222222;
}
.feedback-form__text {
    margin-top: 35px;
    max-width: 472px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #222222;
}
.form-table {
    margin-top: 65px;
    margin-bottom: 137px;
    width: 475px;
    height: 382px;
    background: #FF8A00;
    border-radius: 10px;
}
.form-group__name {
    padding-top: 47px;
    padding-left: 40px;
}
.form-group__mail, .form-group__phone {
    padding-top: 25px;
    padding-left: 40px;
}
.form-control__name, .form-control__mail, .form-control__phone {
    width: 315px;
    height: 40px;
    border-radius: 10px 0px;
    border: none;
    padding-left: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #999999;
}
.btn-primary {
    margin-top: 35px;
    margin-left: 40px;
    width: 170px;
    height: 40px;
    background: #5FC764;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
}
.btn-primary:hover {
    background: #fff;
    color: #5FC764;
}

/* thanks-page */

.thanks {
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
    border: 1px solid red;
}
.img-thanks {
    margin-top: 40px;
}
.thanks-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.12em;
    color: #222222;
}
.thanks-text {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 500px;
}
.my-articles, .my-mediateka {
    text-decoration: none;
    color: #FF8A00;
    transition: .3s;
}

.my-articles:hover {
    color: #5FC764;
}
.my-mediateka:hover {
    color: #5FC764;
}
.go-back {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 50px;
    background: #2c9e31;
    border: 1px solid #2c9e31;
    border-radius: 7px;
    color: #fff;
    padding: 17px 70px;
    font-weight: normal;
    font-size: 20px;
    transition: .6s;
}
.go-back:hover {
    color: #2c9e31;
    background: #fff;
}
.row-courses {
    margin: 0 auto;
    width: 90%;
}
@media (max-width: 1200px) {
    .header-logo {
        height: 75px;
        padding-bottom: 20px;
    }
    .header-nav__a {
        font-size: 17px;
    }
    .main-bg {
    height: 1135px;
}
    .policy {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .privacy-policy {
        margin-top: 3px;
    }
    .flex-wrapper {
        margin: auto;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #fff;
        border: 2px solid #FFA740;
        max-width: 700px;
        max-height: 599px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .slide {
        max-width: 648px;
        height: 550px;
        display: none;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 2s;
        animation-name: slide;
        animation-duration: 2s;
    }
    .about-me {
        margin-top: 15px;
        font-size: 15px;
    }
    .name-service {
        font-size: 19px;
    }
    .aboute-services__title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .about-servise {
        margin-top: 15px;
        font-size: 15px;
    }
    .info {
        margin-top: 20px;
    }
    .info-legal {
        margin-top: 20px;
    }
    .social-icon__container {
        margin-top: 10px;
    }
    .footer {
        height: 100px;
    }
    .articles-nav {
        margin-top: 35px;
        height: 60px;
    }
    .main-title__sections {
        margin-top: 10px;
        font-size: 22px;
    }
    .title-nav__link {
        font-size: 17px;
    }
    .col-media {
        max-width: 400px;
    }
    .content {
        width: 300px;
    }
    .courses-library__title {
        margin-top: 25px;
        font-size: 27px;
    }
    .img-course {
        width: 100%;
    }
    .tag {
        position: absolute;
        top: 0;
        transform: translateX(-60px);
        height: 50px;
    }
    .contacts {
        margin-top: 70px;
    }
    .contacts-title {
        font-size: 31px;
    }
    .line-phone, .line-mail {
        font-size: 13px;
    }
    .phone-link {
        font-size: 13px;
    }
    .mail-link {
        font-size: 13px;
    }
    .feedback-form__title {
        font-size: 31px;
    }
    .feedback-form__text {
        margin-top: 27px;
        font-size: 13px;
    }
    .form-table {
        margin-bottom: 60px;
    }
    .course-basics__title {
        width: 100%;
        font-style: normal;
        text-align: left;
    }
    .course-basics__desc {
        width: 100%;
        padding-left: 0;
        font-size: 15px;
    }
    .date-and-acquired {
        width: 100%;
        padding-left: 0;
        font-size: 13px;
        text-align: left;
    }
    .acquired_button {
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    .articles-nav {
        margin-top: 20px;
    }
    .articles {
        margin-top: 50px;
    }
    .title {
        margin: 0 20px;
    }
    .title-nav__link {
        font-size: 15px;
    }
    .col-3 {
        margin: 0;
        padding: 0;
    }
    .header-menu__list {
        list-style: none;
        margin: 0 6px;
    }
    .align-items-center {
        display: flex;
        justify-content: space-around;
        max-width: 1110px;
    }
    .header-logo {
        height: 65px;
        padding-bottom: 20px;
    }
    .header-nav__a {
        font-size: 15px;
    }
    .shadow-left {
        bottom: -18px;
        width: 160px;
    }
    .shadow-right {
        bottom: -18px;
        width: 160px;
    }
    .main-bg {
        height: 970px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .policy {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .flex-wrapper {
        max-width: 500px;
    }
    .slide {
        max-height: 350px;
        max-width: 448px;
    }
    #btn-prev, #btn-next {
        width: 40px;
        height: 40px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
    .about-me {
        padding: 0 20px;
        margin-top: 10px;
        font-size: 13px;
    }
    .aboute-services__title {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 19px;
    }
    .name-service {
        font-size: 15px;
    }
    .about-servise {
        margin-top: 7px;
        font-size: 12px;
    }
    .info {
        margin-top: 10px;
        font-size: 10px;
    }
    .info-legal {
        margin-top: 7px;
        font-size: 11px;
    }
    .privacy-policy {
        margin-top: 3px;
        font-size: 11px;
    }
    .social-icon__container {
        margin-top: 5px;
    }
    .col-media {
       max-width: 350px;
       text-align: center;
    }
    .content {
        max-width: 250px;
        margin: 20px;
    }
    .service-title {
        margin-bottom: 20px;
    }
    .info-text_block {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        margin-left: 7%;
        width: 250px;
        vertical-align: middle;
    }
    .img-info {
        height: 17px;
    }
    .info-text {
        margin-top: 0;
        display: block;
        margin-left: 5%;
        max-width: 210px;
    }
    .courses-library__title {
        margin-top: 20px;
        font-size: 25px;
    }
    .gray-line {
        margin-top: 10px;
    }
    .course-title {
        font-size: 19px;
    }
    .course-text {
        margin-top: 10px;
        font-size: 13px;
    }
    .course-price {
        font-size: 16px;
        margin-top: 17px;
    }
    .sale-price {
        font-size: 16px;
    }
    .tag {
        position: absolute;
        top: 3;
        transform: translateX(-50px);
        height: 45px;
    }
    .course-button {
        margin-top: 20px;
    }
    .form-control__name, .form-control__mail, .form-control__phone {
        width: 300px;
        height: 35px;
        padding-left: 35px;
        font-size: 13px;
    }
    .form-table {
        margin-top: 65px;
        margin-bottom: 137px;
        width: 435px;
        height: 382px;
        background: #FF8A00;
        border-radius: 10px;
    }
    .btn-primary {
        margin-top: 30px;
        width: 160px;
    }
    .thanks-title {
        width: 90%;
        font-size: 30px;
    }
    .thanks-text {
        margin: 0 auto;
        margin-top: 10px;
        width: 90%;
        font-size: 14px;
    }
    .go-back {
        padding: 15px 60px;
        font-size: 17px;
    }
    .img-course-basics {
        border-radius: 5px;
        width: 99%;
        max-width: 380px;
        max-height: 380px;
    }
    .course-basics__text {
        margin-left: 0px;
    }
    .course-basics__title {
        font-weight: bold;
        font-size: 27px;
        line-height: 30px;
    }
    .course-basics-of-communicating {
        margin-top: 25px;
    }
    .course-basics__desc {
        margin-top: 10px;
        width: 100%;
        font-size: 13px;
        text-align: justify;
    }
    .date-and-acquired {
        margin-top: 30px;
        width: 100%;
        font-size: 8px;
        text-align: left;
    }
    .acquired_button {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .menu-button {
        border: none;
        position: absolute;
        top: 0;
        right: 10px;
        display: block;
        width: 30px;
        height: 3px;
        background-color: #FFA740;
        cursor: pointer;
        z-index: 4;
    }
    .menu-button:before {
        content: '';
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 3px;
        background-color: #FFA740;
        transition: transform 0.2s;
        cursor: pointer;
        margin-top: -7px;
    }
    .menu-button:after {
        content: '';
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 3px;
        background-color: #FFA740;
        transition: transform 0.2s;
        cursor: pointer;
        margin-top: 7px;
    }
    .menu-button-active {
        height: 0;
    }
    .menu-button-active:before {
        transform: rotate(45deg);
        margin-top: 0;
    }
    .menu-button-active:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }
    .header-nav {
        display: none;
        position: absolute;
        top: -25px;
        right: 0;
    }
    .header-nav-active {
        display: block;
    }
    .header-menu {
        position: absolute;
        padding: 40px 80px 20px 20px;
        right: 5px;
        top: 0;
        background-color: #27bd2f;
        border-radius: 5px;
        z-index: 3;
    }
    .header-nav__a {
        display: block;
        margin-bottom: 15px;
        font-weight: normal;
        color: #222;
    }
    .header-nav__a:hover {
        color: #fff;
    }
    .header-nav__a:after {
        display: none;
    }
    .header-menu {
        flex-direction: column;
    }
    .header-menu__list {
        margin: 0;
    }
    .main-bg {
        height: 1120px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .flex-wrapper {
        max-width: 400px;
        padding: 12px;
    }
    .slide {
        max-width: 372px;
    }
    #btn-prev, #btn-next {
        width: 40px;
        height: 40px;
    }
    .shadow-left {
        left: 50px;
        bottom: -18px;
        width: 160px;
    }
    .shadow-right {
        right: 50px;
        bottom: -18px;
        width: 160px;
    }
    .dots-wrapper {
        margin-top: 5px;
    }
    .aboute-services__title {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 19px;
    }
    .service {
        margin-bottom: 20px;
    }
    .name-service {
        font-size: 17px;
    }
    .about-servise {
        margin-top: 7px;
        font-size: 12px;
    }
    .footer {
        text-align: center;
        margin: 0 auto;
        height: auto;
    }
    .info {
        align-items: center;
        margin-top: 10px;
        font-size: 10px;
    }
    .info-legal {
        margin-top: 7px;
        font-size: 11px;
    }
    .privacy-policy {
        margin-top: 6px;
        margin-bottom: 5px;
        font-size: 11px;
    }
    .title-nav__link {
        font-size: 13px;
    }
    .titles-menu {
        flex-wrap: wrap;
    }
    .articles-navig {
        height: 90px;
    }
    .row-media {
        max-width: 350px;
        margin: 0 auto;
    }
    .content {
        display: inline-block;
        min-height: 360px;
    }
    .photo-img {
        height: 100px;
        width: 135px;
    }
    .lightgallery {
        margin-bottom: 25px;
    }
    .service-card {
        max-width: 380px;
    }
    .section-services {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .col-service {
        max-width: 380px;
        margin: 0 auto;
    }
    .img-course {
        max-width: 250px;
    }
    .course-title {
        font-size: 25px;
    }
    .course-text {
        margin-top: 15px;
        font-size: 14px;
        max-width: 350px;
    }
    .course-button {
        margin-bottom: 60px;
    }
    .tag {
        position: absolute;
        top: 20px;
        transform: translateX(-50px);
        height: 52px;
    }
    .course {
        padding-top: 20px;
        border: 1px solid #999999;
        border-radius: 7px;
    }
    .contacts {
        margin-top: 50px;
    }
    .phone {
        margin-top: 30px;
    }
    .form-table {
        margin-bottom: 100px;
    }
    .thanks-title {
        margin: 0 auto;
        width: 90%;
        font-size: 24px;
    }
    .thanks-text {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 12px;
    }
    .go-back {
        margin-top: 30px;
        padding: 13px 45px;
        font-size: 15px;
    }
    .img-thanks {
        height: 70px;
        margin-top: 10px;
    }
    .course-basics-of-communicating {
        margin-top: 15px;
    }
    .img-course-basics {
        max-width: 280px;
    }
    .course-basics__title {
        margin-top: 15px;
        font-size: 21px;
        line-height: 30px;
    }
    .course-basics__desc {
        margin-top: 7px;
        font-size: 11px;
    }
    .acquired_button {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 8px 20px;
        font-size: 14px;
    }
}
@media (max-width: 569px) {
    .additional-img {
        width: 100px;
        height: 100px;
    }
    .additional-text {
        font-size: 15px;
    }
    .rez-info {
        font-size: 15px;
    }
    .rezult-info {
        width: 95%;
    }
    .summ {
        font-size: 18px;
    }
    .replice {
        font-size: 16px;
    }
    .contacts {
        margin-top: 30px;
    }
    .contacts-title {
        font-size: 27px;
    }
    .phone {
        margin-top: 13px;
    }
    .line-phone, .line-mail {
        font-size: 12px;
    }
    .phone-link, .phone-link {
        font-size: 12px;
    }
    .feedback-form__title {
        font-size: 27px;
    }
    .feedback-form__text {
        margin-top: 13px;
        font-size: 12px;
    }
    .form-table {
        margin-top: 45px;
        margin-bottom: 100px;
        width: 425px;
        height: 370px;
    }
    .form-control__name, .form-control__mail, .form-control__phone {
        width: 270px;
        height: 35px;
        padding-left: 25px;
        font-size: 12px;
    }
    .btn-primary {
        margin-top: 30px;
        width: 140px;
        font-size: 13px;
    }
    .img-course-basics {
        max-width: 200px;
    }
}
@media (max-width: 538px) {
    .video-content {
        margin-bottom: 20px;
    }
    .video {
        margin-bottom: 30px;
    }
    .video-page {
        margin-top: 40px;
    }
}
@media (max-width: 499px) {
    .main-bg {
        height: 100%;
    }
    #btn-prev, #btn-next {
        width: 80px;
        top: 109%;
    }
    #btn-prev {
        left: 10%;
    }
    #btn-next {
        right: 10%;
    }
    .about-me {
        margin-top: 20px;
    }
    .lightgallery {
        text-align: center;
        margin-left: 0;
    }
    .photo-img {
        height: 90px;
        width: 115px;
    }
    .title__header-calck {
        display: inline-block;
        margin-top: 25px;
    }
    .header-calck {
        height: 80px;
        position: relative;
        background: #2DA833;
        border-radius: 5px 5px 0px 0px;
    }
    .rez-info {
        font-size: 13px;
    }
    .replice {
        font-size: 15px;
        width: 170px;
    }
    .course-title {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 18px;
        max-width: 90%;
    }
    .course-text {
        margin: 0 auto;
        margin-top: 15px;
        font-size: 12px;
        max-width: 85%;
    }
}
@media (max-width: 446px) {
    .form-table {
        margin-top: 45px;
        margin-bottom: 100px;
        width: 90%;
        height: 370px;
    }
}
@media (max-width: 422px) {
    .articles-navig {
        height: 120px;
    }
    .photo-img {
        height: 80px;
        width: 90px;
    }
    .additional-text {
        font-size: 13px;
    }
    .rezult_btn {
        font-size: 15px;
        width: 80%;
    }
    .rezult-info {
        flex-wrap: wrap;
        height: 100px;
    }
    .replice {
        margin-top: 10px;
    }
    .tag {
        height: 48px;
    }
    .title {
        margin: 0 10px;
    }
    .form-control__name, .form-control__mail, .form-control__phone {
        width: 80%;
        height: 35px;
        padding-left: 25px;
        font-size: 10px;
    }
    .btn-primary {
        margin-top: 30px;
        width: 35%;
        font-size: 11px;
    }
}
@media (max-width: 417px) {
    .main-bg {
        margin-top: 10px;
        padding-top: 10px;
    }
    .slide {
        max-width: 350px;
        max-height: 350px;
    }
    .flex-wrapper {
        max-width: 370px;
        height: 374px;
    }
    #btn-prev, #btn-next {
        height: 30px;
        width: 50px;
        top: 111%;
    }
    .slide {
        max-width: 342px;
    }
    .about-me {
        font-size: 12px
    }
    .go-back {
        margin-top: 30px;
        padding: 9px 30px;
        font-size: 13px;
    }
    .thanks-title {
        margin: 0 auto;
        margin-top: 20px;
        font-size: 17px;
        line-height: 20px;
    }
    .thanks-text {
        font-size: 10px;
    }
}
@media (max-width: 385px) {
    .slide {
        max-width: 327px;
        max-height: 330px;
    }
    .title__header-calck {
        font-size: 19px;
    }
    .course {
        padding-top: 10px;
    }
}
@media (max-width: 367px) {
    .slide {
        max-width: 309px;
    }
    .additional-img {
        width: 80px;
        height: 80px;
    }
    .rezult_btn {
        font-size: 13px;
    }
    .additional-text {
        font-size: 11px;
    }
    .titles-menu {
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }
    .articles-navig {
        height: 180px;
    }
    .form-control__name, .form-control__mail, .form-control__phone {
        width: 80%;
        height: 30px;
        padding-left: 10px;
        font-size: 10px;
    }
    .form-group__name {
        padding-top: 30px;
        padding-left: 20px;
    }
    .form-group__mail, .form-group__phone {
        padding-top: 15px;
        padding-left: 20px;
    }
    .btn-primary {
        margin-top: 30px;
        width: 37%;
        font-size: 11px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .contacts {
        margin-top: 15px;
    }
    .contacts-title {
        font-size: 21px;
    }
    .phone {
        margin-top: 7px;
    }
    .line-phone, .line-mail {
        font-size: 10px;
    }
    .phone-link, .mail-link {
        font-size: 10px;
    }
    .mail {
        margin-top: 0px;
    }
    .feedback-form__title {
        font-size: 21px;
    }
    .feedback-form__text {
        margin-top: 0px;
        font-size: 10px;
    }
    .form-table {
        margin-top: 20px;
        margin-bottom: 70px;
        width: 90%;
        height: 310px;
    }
}
@media (max-width: 355px) {
    .slide {
        max-width: 295px;
        max-height: 330px;
    }
    .flex-wrapper {
        max-width: 370px;
        height: 364px;
    }
    .img-course {
        max-width: 90%;
    }
}
@media (max-width: 345px) {
    .slide {
        max-width: 270px;
        max-height: 330px;
    }
    .flex-wrapper {
        max-width: 370px;
        height: 364px;
    }
    .info-text {
        font-size: 12px;
    }
    .info-text_block {
        width: 220px;
    }
    .about-me {
        text-align: justify;
    }
}